:root {
  --color-prim: rgba(221, 72, 20, 1);
  --color-prim-2: rgba(221, 72, 20, .6);
  --color-secd: rgba(255, 255, 255, 1);
}

.btn-submit {
  padding:  0.3rem 1rem;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--color-prim);
  color: var(--color-secd);
}

.btn-submit:hover {
  cursor: pointer;
  background-color: var(--color-prim-2);
  transform: scale(1.1);
}
