:root {
  --color-prim: rgba(221, 72, 20, 1);
  --color-prim-2: rgba(221, 72, 20, .6);
  --color-secd: rgba(255, 255, 255, 1);
}

li {
  list-style: none;
}

.btn-submit {
  padding:  0.3rem 1rem;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--color-prim);
  color: var(--color-secd);
}

.btn-submit:hover {
  cursor: pointer;
  background-color: var(--color-prim-2);
  transform: scale(1.1);
}

.btn-delete {
  padding:  0.3rem 1rem;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--color-prim);
  color: var(--color-secd);
}

.btn-delete:hover {
  cursor: pointer;
  background-color: var(--color-prim-2);
  transform: scale(1.1);
}

.pagination-div {
  display: flex;
}

.pagination-div nav ul {
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
}

.pagination-div nav ul li {
  padding: 0.3rem;
  margin: 0.2rem;
}

.view-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.view-header > * {
  padding: 0.5rem;  
}

/* pagination */
.active {
  border-radius: 5px;
  background-color: var(--color-prim);
}

.active > a {
  color: white;
  align-items: center;
}

/* validation errors */

.errors > ul > li {
  padding: 0.5rem;
  margin: 0.3rem;
  font-weight: bold;
  background-color: red;
  color: white;
}
